html {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 50px;
    background-color: cornflowerblue;
    display: block;
    margin-bottom: 30px;
}
main {
    padding-bottom: 10px;
}
footer {
    padding: 10px;
    background-color: cornflowerblue;
}
